
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

// Fuentes
$titleFont: 'Titillium Web', sans-serif;
$font: 'Source Sans Pro', sans-serif;

// Media Queries Size
$phone: 480px;
$tablet: 920px;
$desktop: 1024px;
$bigScreen: 1250px;
$giant: 2200px;

// Colors
$black: #000000;
$white: #FFFFFF;
$gray: #3D3D3D;
$lightGray: #828282;
$orangeRed: #F44337;
$yellow: #FBC02D;
$blue: #2A42ED;

$separation: 5rem;

// Fuentes
$regular : 400;
$semiBold: 600;
$bold: 700